/*navbar*/
.nav {
    background-color: rgba(152, 240, 255, 0.28);
    max-width: 150px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav a {
    display: block;
    text-decoration: none;
    color: #666;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;

}
.item a:hover {
    color: #333;
}
.nav .active {
    color: #ff5500;
}
.nav div {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

