.app-wrapper {
  display: grid;
 max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  grid-template-areas:
          'h h'
            'n n';
  grid-template-rows: 50px 2fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px ;
}

.app-wrapper-content {

    grid-area: n;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);



    /*styled photo for profile*/

    .imgContent {
        max-width: 1200px;
        width: 100%;
        max-height: 350px;
        object-fit: cover;
    }

}
